<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="java.lang.Long" alias="Long"/>
		<typeAlias type="com.choa.s4.board.BoardDTO" alias="boardDTO"/>
		<typeAlias type="com.choa.s4.board.notice.NoticeDTO" alias="noticeDTO"/>
		<typeAlias type="com.choa.s4.board.qna.QnaDTO" alias="qnaDTO"/>
	</typeAliases>
</configuration>